.img-logo{
  height: 180px;
  width: 500px;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.untitled-lists-header{
  display: flex;
  justify-content: center;
  gap:80px;
  list-style: none;
  cursor: pointer;
  align-items: center;
}
body{
  color: white;
  background-color: black;
}
.untitled-lists-header span{
  color:rgba(124, 194, 171, 0.884);
}
.path-to-login{
    text-decoration: none;
    color: white;
}
.path-to-register{
  text-decoration: none;
  color: white;
}
.Register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.Register h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.Register input[type="text"],
.Register input[type="email"],
.Register input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Register button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Register button:hover {
  background-color: #0056b3;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
button {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.product-card h3 {
  color: #333;
  margin-bottom: 10px;
}

.product-card p {
  color: #666;
}

.product-card p:last-child {
  margin-bottom: 0;
}

