.img-logo{
  height: 180px;
  width: 500px;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.untitled-lists-header{
  display: flex;
  justify-content: center;
  gap:80px;
  list-style: none;
  cursor: pointer;
  align-items: center;
}
body{
  background-color: black;
}
.untitled-lists-header span{
  color:rgba(124, 194, 171, 0.884);
}
.path-to-login{
    text-decoration: none;
    color: white;
}
.path-to-register{
  text-decoration: none;
  color: white;
}